<%- include('./includes/head.ejs') %>

<body data-spy="scroll" data-target=".fixed-top">

    <%- include('./includes/navbar.ejs') %>

    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h1 class="h1-large">LOST & FOUND </h1>
                        <p class="p-large">ifound reunites people with Lost & Found property </p>
                        <a class="btn-solid-lg" href="sign-up.html">Sign up for free</a>
                        <a class="btn-outline-lg page-scroll" href="#intro">Discover</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/header.jpg" alt="alternative">
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Introduction -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img class="img-fluid" src="images/introduction.jpg" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Ifound is here to help you to find your lost things easily in the university</h2>
                        <p>Some things are simply irreplaceable.
                            So when an honest individual finds and reports a lost item,
                            it can really make your day. That's why I set up Ifound – with the sole purpose of
                            connecting finders and owners in the whole university of Engineering and technology taxila.
                            You can't imagine how great it makes me feel to be making so many people so happy, every
                            single day!We live in a digital world where everything is connected.
                            Everything – it would seem – except thousands of cardboard boxes around the world stuffed
                            full with lost property.

                        </p>
                        <a class="btn-solid-reg" href="sign-up.html">Sign up</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->

    <!-- Report lost and found items directly to the admin -->
    <div class="report">
        <div class="report-heading">
            <h1>Report Us</h1>
            <p>In this section user can diectly report lost or found items to the admin.Then this data will match the
                already present data and if the rqurment match it will send an email to the user that your lost item is
                found.</p>
        </div>
        <div class="report-btn">
            <a class="btn-solid-reg" href="/report-found">found something</a>
            <a class="btn-solid-reg" href="/report-lost">Lost something</a>

        </div>
    </div>
    <!-- Features -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Check out all the features</h2>
                    <p class="p-heading">The features built into Ifound were designed to help all the users in the
                        university.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-share-square blue"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Post your lost items on website</h4>
                            <p>In this section user will create a post in which he will give the details of lost and
                                found items and psost it so it can target the item to find that or find his/her owner.
                            </p>
                            <a class="read-more no-line" href="Product.html">Learn more <span
                                    class="fas fa-long-arrow-alt-right"></span></a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-share-square blue"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Post your found items on website</h4>
                            <p>In this section user will create a post in which he will give the details of lost and
                                found items and psost it so it can target the item to find that or find his/her owner.
                            </p>
                            <a class="read-more no-line" href="Product.html">Learn more <span
                                    class="fas fa-long-arrow-alt-right"></span></a>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-flag blue"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Report lost item</h4>
                            <p>This section will report the lost items diectly to the addmin.admin will
                                match the requirments and return the items safely to the owner.</p>
                            <a class="read-more no-line" href="Product.html">Learn more <span
                                    class="fas fa-long-arrow-alt-right"></span></a>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-comments purple"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Report found item</h4>
                            <p>This section will report thefound items diectly to the addmin.admin will
                                match the requirments and return the items safely to the owner.</p>
                            <a class="read-more no-line" href="Product.html">Learn more <span
                                    class="fas fa-long-arrow-alt-right"></span></a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->



    <!-- Testimonials -->
    <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Few words from the owners</h2>
                    <p class="p-heading">You can read below a few testimonials from satisfied person who found his
                        belongings through this . Of course there are also some unhappy ones but they're not here</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Itaque, ratione.
                                                Facilis quam deserunt ea necessitatibus sequi autem doloribus itaque hic
                                                impedit ipsa.
                                                Perferendis est et iste fugiat amet animi repellat?</p>
                                            <div class="details">
                                                <img class="testimonial-image" src="images/owner-1.jpg"
                                                    alt="alternative">
                                                <div class="text">
                                                    <div class="testimonial-author">Pervaiz Sarfraz</div>
                                                    <div class="occupation">Team Leader - Syncnow</div>
                                                </div> <!-- end of text -->
                                            </div> <!-- end of testimonial-details -->
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit.
                                                Quaerat ipsa reiciendis corrupti. Fugit,
                                                vero tempore? Iusto illo similique aperiam fuga quia architecto dolor
                                                consequuntur atque ullam officiis,
                                                praesentium iure dignissimos.</p>
                                            <div class="details">
                                                <img class="testimonial-image" src="images/owner-2.jpg"
                                                    alt="alternative">
                                                <div class="text">
                                                    <div class="testimonial-author">Pervaiz Sarfraz</div>
                                                    <div class="occupation">manager </div>
                                                </div> <!-- end of text -->
                                            </div> <!-- end of testimonial-details -->
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->



                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->


    <!-- Newsletter -->
    <div class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Subscribe And Follow Us</h2>
                    <p class="p-heading">Be part of the story and follow us on Twitter via <a
                            href="https://twitter.com/PervaizSarfraz">Pervaiz Sarfraz</a> and subscribe to the
                        newsletter for news and updates about our workshops</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Newsletter Form -->
                    <form>
                        <div class="form-group mail">
                            <input type="email" class="form-control-input" id="nemail" required>
                            <label class="label-control" for="nemail">Email address</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Subscribe</button>
                        </div>
                        <div class="form-message">
                            <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of newsletter form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of newsletter -->


    <!-- Footer -->
    <footer class="footer">
        <div class="container-1">
            <div class="row">
                <div class="footer-col">
                    <h4>about</h4>
                    <ul>
                        <li><a href="#ifound">about Ifound</a></li>
                        <li><a href="#">working at Ifound</a></li>
                        <li><a href="privacy.html">privacy policy</a></li>
                        <li><a href="#">legal notices</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>lost and found application</h4>
                    <ul>
                        <li><a href="#">for Students
                            </a></li>
                        <li><a href="#">for Teachers & staff</a></li>
                        <li><a href="#">for workers in Uet</a></li>
                        <li><a href="#registeration">Register yourself</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ifound Services
                    </h4>
                    <ul>
                        <li><a href="#found-btn">Report found ITEMS</a></li>
                        <li><a href="#lost-btn">Report lost ITEMS</a></li>
                        <li><a href="#">Use post to informs Us and Other users</a></li>
                        <li><a href="#">Get mailing Services for ITEMS recovery</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Support
                    </h4>
                    <ul>
                        <li><a href="#">General Uet contacts</a></li>
                        <li><a href="#">Uet taxila management</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a href="#your-link">Pervaiz Sarfaz</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>

</html>