<%- include('./includes/head.ejs') %>


<body data-spy="scroll" data-target=".fixed-top">

    <%- include('./includes/navbar.ejs') %>

<!-- end of navigation -->

<div class="hero-1">
    <div class="form-container">
      <div class="top-head">

      </div>
      <div class="form-container">
        <div class="title">Post Data</div>
        <div class="content">
          <form class="form" method="POST" action="/item" enctype="multipart/form-data">
        
            <div class="user-details">
      
              <div class="input-box">
                <input type='file' name="image" required />              <br>

                <br>
                <img id="myImg" src="#" width="200px" height="200px">
              </div>
              <div class="input-box">
                
                <span class="details"> Title Of Lost Or Found </span>
                
                <input type="text" name="title" placeholder="Enter Title of Item" required>
              </div>

              <div class="input-box">
                <span class="details">Description Of Lost Or Found</span>
                <input type="text" name="properties" placeholder="Enter description of Item" required>
              </div>
            
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" name="phone" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details">Registeration Number</span>
                <input type="text" name="regNo" placeholder="Enter your Reg number" required>
              </div>
              <div class="input-box">
                <span class="details">Department</span>
                <input type="text" name="dept" placeholder="Enter your Department" required>
              </div>
            </div>
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <input type="hidden" value="<%=type%>" name="type">

            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
    <!-- Footer -->
    <footer class="footer">
        <div class="container-1">
            <div class="row">
                <div class="footer-col">
                    <h4>about</h4>
                    <ul>
                        <li><a href="#ifound">about Ifound</a></li>
                        <li><a href="#">working at Ifound</a></li>
                        <li><a href="privacy.html">privacy policy</a></li>
                        <li><a href="#">legal notices</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>lost and found application</h4>
                    <ul>
                        <li><a href="#">for Students
                            </a></li>
                        <li><a href="#">for Teachers & staff</a></li>
                        <li><a href="#">for workers in Uet</a></li>
                        <li><a href="#registeration">Register yourself</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ifound Services
                    </h4>
                    <ul>
                        <li><a href="#found-btn">Report found ITEMS</a></li>
                        <li><a href="#lost-btn">Report lost ITEMS</a></li>
                        <li><a href="#">Use post to informs Us and Other users</a></li>
                        <li><a href="#">Get mailing Services for ITEMS recovery</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Support
                    </h4>
                    <ul>
                        <li><a href="#">General Uet contacts</a></li>
                        <li><a href="#">Uet taxila management</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a href="#your-link">Pervaiz Sarfaz</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>

</html>